<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Vips</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" ui-sref-active="active" ng-show="loggato">
            <a class="nav-link" ui-sref="loggato.home">Posts</a>
        </li>
        <li class="nav-item" ng-show="loggato">
            <a class="nav-link" ng-click="logout()">Logout
            </a>
        </li>
        <li class="nav-item" ui-sref-active="active" ng-hide="loggato">
            <a class="nav-link" ui-sref="/login">Login
            </a>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="$parent.cerca">
        </form>
    </div>
</nav>